body > div > div:nth-child(9) > textarea {
 margin: 15px auto;
}

body > div > div:nth-child(8){
margin: 10px auto;
}

.containerglobal{
  text-align: center;
}


.large{
  font-size: large;
}

.medium{
  font-size: medium;
}

.small{
  font-size: small;
}


.container{
  width: 50%;
  height: 10vh;
  padding:10px;
}

#send{
  margin:10px;
}

body > div > section:nth-child(3) > div:nth-child(2){
 margin:10px; 
}

