body > div > div:nth-child(9) > textarea {
 margin: 15px auto;
}

body > div > div:nth-child(8){
margin: 10px auto;
}

.containerglobal{
  text-align: center;
}


.large{
  font-size: large;
}

.medium{
  font-size: medium;
}

.small{
  font-size: small;
}


.container{
  border: 1px solid black;
  width: 50%;
  height: 10vh;
  padding:10px;
}

#enviar{
  margin:10px;
}